// COLOR VARIABLES
$very-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$slightly-transparent-white1: hsla(0, 0%, 100%, 0.75);
$slightly-transparent-white2: hsla(0, 0%, 100%, 0.6);

// FONT VARIABLES
$font-display: "Lexend Deca", sans-serif;
$font-primary: "Inter", sans-serif;

//Global Style
*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: $font-primary;
  color: $white;
  font-weight: 300;
  line-height: 1.6;
  background-color: $very-dark-blue;
}

.container {
  display: flex;
  margin: 2rem 2rem;
  flex-direction: column;
  text-align: center;
}

.card-img {
  background-image: url("../images/image-header-mobile.jpg");
  background-color: $soft-violet;
  background-blend-mode: multiply;
  background-position: top;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 240px;
}

.card-content {
  background-color: $dark-desaturated-blue;
  padding: 3.2rem;
  border-radius: 0px 0px 10px 10px;

  display: flex;
  flex-direction: column;
}

.heading-1 {
  font-size: 2.7rem;
  letter-spacing: 1px;
  line-height: 1.3;
}

.txt-highlighter {
  color: $soft-violet;
}

.discription {
  font-size: 1.5rem;
  line-height: 1.7;
  color: $slightly-transparent-white2;
  margin: 1.8rem 0px;
}

.stats-info {
  .stats-info-box {
    margin-top: 2.2rem;
    display: flex;
    flex-direction: column;
    .stats-count {
      font-size: 2.3rem;
      letter-spacing: 1px;
      font-weight: bold;
    }
    .stats-txt {
      font-size: 1.2rem;
      letter-spacing: 1px;
      color: $slightly-transparent-white2;
    }
  }
}

// Attribution in footer
.attribution {
  font-size: 11px;
  text-align: center;
  padding: 2rem 0rem;
  a {
    color: $white;
  }
}

/* DESKTOP */
@media (min-width: 746px) {
  html {
    font-size: 70%;
  }
  .card-img {
    background-position: top;
    height: 346px;
  }
  .stats-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

/* DESKTOP */
@media (min-width: 1120px) {
  html {
    font-size: 76%;
  }
  .container {
    display: flex;
    margin: 2rem 2rem;
    flex-direction: row-reverse;
    text-align: left;
    max-width: 1100px;
    justify-content: center;
    margin: 3rem auto;
  }
  .card-content {
    border-radius: 10px 0px 0px 10px;
    padding: 5rem 11rem 5rem 6rem;
    max-height: 446px;
  }

  .card-img {
    background-image: url("../images/image-header-desktop.jpg");
    border-radius: 0px 10px 10px 0px;
    height: 446px;
  }

  .heading-1 {
    font-size: 3rem;
  }

  .discription {
    font-size: 1.4rem;
  }

  .stats-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: auto;
    margin-right: 2.5rem;
    .stats-info-box {
      .stats-count {
        font-size: 2rem;
      }
      .stats-txt {
        font-size: 1rem;
        font-family: $font-display;
        font-weight: 400;
      }
    }
  }
}
